@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --main-font-color: #b3b3b3;
  --background-base: #121212;
  --main-accent-color: #1ed760;
  --white: #fafafa;
  --black: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--main-font-color);
  display: block;
}
button {
  background: none;
  border: none;
  color: var(--main-font-color);
}

table {
  border-collapse: collapse;
  width: 100%;
}
input,
select,
textarea,
fieldset {
  border: 0;
}
caption,
legend {
  display: none;
}
img {
  vertical-align: top;
  border: 0;
}
address {
  font-style: normal;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--main-font-color);
}

#wrap {
  height: 100vh;
  padding: 0.5rem;
}

.logo-box {
  padding: 0.5rem 0.75rem;
}
.main-logo {
  width: 78px;
}

.left-section {
  @media screen and (min-width: 768px) {
    /* background-color: orange; */
    width: 238px;
    margin-right: 0.5rem;
  }
  position: sticky;
  top: 0.5rem;
  z-index: 9;
}

#nav {
  /* background-color: cadetblue; */
  background-color: var(--background-base);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.menu .menu-btn {
  padding: 0.5rem 0.75rem;
  width: 100%;
  text-align: left;
  transition: all 0.3s;
  &:hover {
    color: #fff;
  }
}
.menu .menu-btn .fa-solid {
  margin-right: 0.25rem;
}

.left-footer {
  /* background-color: cadetblue; */
  background-color: var(--background-base);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
.left-footer-link-box {
  margin-bottom: 2rem;
}

.left-footer-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.left-footer-links li {
  font-size: 11px;
  line-height: 1.5rem;
}
.footer-link-cookie {
  font-size: 11px;
  line-height: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}
.left-footer-language {
  background-color: transparent;
  font-weight: 700;
  font-size: 0.875rem;
  color: white;
  border: 1px solid #727272;
  text-align: center;
  padding: 3px 15px;
  border-radius: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    border: 1px solid #fff;
  }
}

#main {
  /* border: 1px solid #fff; */
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #8d8d8d;
  }
}

#header {
    height: 4rem;
    padding-inline: 1rem;
    background-color: #101010;
    position: sticky;
    top: 0.5rem;
    z-index: 3;
  }
  .right-header-bg {
    background: black;
    width: 110%;
    height: 4.5rem;
    z-index: 3;
    position: absolute;
    top: -0.5rem;
    left: -1rem;
    margin-top: -0.5rem;
  }
  
  .header-left button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 4;
  }
  .header-right {
    z-index: 4;
  }
  .header-right .sign-up-btn {
    padding: 0.75rem 2rem;
    &:hover {
      transform: scale(1.1);
      color: var(--white);
    }
  }
  .header-right .log-in-btn {
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--white);
    color: #000;
    &:hover {
      transform: scale(1.1);
    }
  }
  #section {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    /* 202020 - 121212 gradation */
    background: rgb(32, 32, 32);
    background: linear-gradient(180deg, rgba(32, 32, 32, 1) 0%, rgba(18, 18, 18, 1) 15%, rgba(18, 18, 18, 1) 100%);
    @media screen and (min-width: 1526px) {
      padding: 0.5rem 1.5rem;
    }
  }

.artist-popular-charts-container .artist-popular-chart {
  padding: 10px 0;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.artist-popular-img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.additional-tracks {
  width: 100%;
}
.artist-song-name {
  color: #fff;
}
.artist-song-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.play-icon:hover,
.heart-icon:hover,
.more-icon:hover,
.read-more:hover,
.brief-view:hover {
  color: #fff;
}
#artist-header {
  position: relative;
  height: 270px;
  width: 100%;
  overflow: hidden;
}
.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  left: 260px;
}
.artist-artist-name {
  font-size: 80px;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}
.artist-monthly-listener {
  font-size: 20px;
  color: #fff;
  padding: 0.5rem;
}
.artist-button-area button {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 5px;
  margin: 0.5rem 0;
  border: 2px solid #b3b3b3;
  border-radius: 30px;
  width: 110px;
  transition: all 0.5s;
}
.artist-button-area button:hover {
  color: #fff;
  border: 2px solid #fff;
}
.artist-card-img-box {
  position: relative;
  transition: all 0.2s ease-out;
  width: 210px;
  height: 210px;
}
.artist-card-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 1;
}
.artist-card-play-btn {
  width: 4rem;
  height: 4rem;
  z-index: 2;
  background: url(img/play-button.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 85%;
  left: 75%;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.artist-card-play-btn:hover {
  transform: scale(1.05);
  opacity: 1;
}
.artist-artist-rec-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px 0;
}
.read-more,
.brief-view {
  padding: 1rem 1rem;
  cursor: pointer;
  font-weight: 500;
}


.contents-header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contents-header-title:hover,
.contents-header-show-more:hover {
  text-decoration: underline;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    /* 줄 개수 바꾸기 (줄 개수, ...) */
    grid-template-rows: repeat(1, minmax(0, 1fr));
  
    /* 1줄 표시하는 부분 */
    /* 이 줄을 1로 바꾸면 모든 아이템 표시 */
    grid-auto-rows: 0;
  
    overflow: hidden;
    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
    @media screen and (min-width: 1526px) {
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
  }
  /* 2줄만 표시하고 싶다면 이 클래스 이름 추가 */
  .card-two-lines {
    grid-template-rows: repeat(2, minmax(0, 1fr)) !important;
  }
  
  .contents-card {
    padding: 0.75rem;
    transition: all 0.2s ease-out;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: #1a1a1a;
      .card-play-btn {
        display: block;
      }
    }
  }
  .card-img-box {
    position: relative;
    transition: all 0.2s ease-out;
  }
  
  .card-img {
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  
  /* 아티스트 원형 이미지일때만 이 클래스 이름 추가 */
  .card-artist-img {
    border-radius: 50%;
  }
  
  .card-text {
    margin-top: 0.5rem;
  }
  .card-title {
    color: var(--white);
  }
  .card-subtitle {
    font-size: 14px;
  }
  .card-subtitle-artist:hover {
    text-decoration: underline;
  }

  .card-play-btn {
    width: 3rem;
    height: 3rem;
    z-index: 2;
    background: url(img/play-button.png) no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    opacity: 0.9;
    display: none;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }
  .right-footer {
    margin-top: 2rem;
    padding: 3rem 0 2.5rem;
    @media screen and (min-width: 992px) {
      padding: 3rem 1rem 2.5rem;
    }
  }
  
  .right-footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .right-footer-links {
    display: flex;
    flex-grow: 1;
    column-gap: 1.5rem;
  }
  .right-footer-links > li {
    width: 30%;
    min-width: fit-content;
  }
  
  .f-sub_menu > li {
    margin-bottom: 0.5rem;
  }
  
  .right-footer-title {
    font-weight: 700;
    color: white;
  }
  .right-footer-item:hover {
    color: white;
    text-decoration: underline;
  }
  
  .f-social {
    display: flex;
    gap: 1rem;
  }
  .social-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 2.5rem;
    background-color: #292929;
    &:hover {
      background-color: #727272;
    }
  }
  
  /* 소셜 40*40
  #292929 
  호버 #727272 */
  
  .copyright {
    font-size: 14px;
  }
 

  